@media (min-width: 768px) {
  .sidebarMain {
    border: 1px solid #7c7d7f;
    border-radius: 2.5rem;
    padding: 2.5rem 1.5rem;
  }

  .imgDiv {
    cursor: pointer;

    &:nth-child(n + 2) {
      margin-top: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .sidebarMain {
  }
}
