@media (min-width: 1080px) {
  .sidebarMain {
    border: 1px solid #7c7d7f;
    border-radius: 2.5rem;
    padding: 2.5rem 1.5rem;
    > div:first-child {
      display: none;
    }
  }

  .imgDiv {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(n + 3) {
      margin-top: 1.5rem;
    }
  }
}

@media (max-width: 1080px) {
  .sidebarMain {
  }
}
